

/* not good to use each of h1, h2, h3 */
h1, h2, h3, h4, h5, h6{
  font-family: freight-display-pro, serif !important;
  font-weight: 600 !important;
  font-style: normal !important;

}
p, ul, li{
  color: #687e94;
  font-family: ubuntu, sans-serif;

}
hr.horizontal{
  border: dotted gray 6px;
  border-bottom: none;
  width: 10%;
  margin: 8% auto;
}

.bg-color {
  background-color: #f0f0f0;
}

/* //////////////////////////////////////Headings */


.big-heading{
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 5%;
}

.colored-section{
  color: white;
}

.bg-image{
  background-image: url(background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.About-Heading{
  font-family: viktor-script, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 3%;
  font-size: 3rem;
}
.buttom {
  margin-bottom: 30px;
}

/* ///////////////////////////* containers */

#title .container-fluid{
    padding: 150px 150px 150px;

}

.container {
  padding: 7% 15%;
}

/* center align */
.container-about{
  padding:  7% 15%;
  margin: 0 auto;
}

/* /////////////////////////////////////////////////About */



.image-style {
  margin: 100px 0;
}

.image-center {
  margin: 0 auto;
  padding-left: 5%;
}

.MyHobbies {
width: 30%;
background:linear-gradient(transparent 70%, #fcbf1e 0%);
}


.MyEducation {
width: 30%;
background:linear-gradient(transparent 70%, #00a8cc 0%);
}

.waseda{
  /* 25% compared to its parent(skill-row) */
  width: 40%;
  float: left;
  margin-right: 30px;
}

.exeter{
  width: 40%;
  float: right;
  margin-left: 30px;
  height: 172px;
}

.img_wrap{
  margin: 20px 10px 0;
  transform: rotate(5deg);
}
.img_wrap img{
  width: 100%;
  transform: scale(1.1);
  filter: grayscale(100%);
  transition-duration: 0.5s;
  width: 240px;
  height: 240px;
}
.img_wrap img:hover{
  filter: grayscale(0);
  transition-duration: 0.5s;
  width: 240px;
  height: 240px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-20px);
}

.MyPhotos {
width: 30%;
background:linear-gradient(transparent 70%, #00bdaa 0%);
}

/* /////////////////////////////////////////////////////Portfolio */



/* ////////////////////////////////////////////////////Message */

.message-background{
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

/*//////////////////////////////////////// Footer */

footer {
  /* position: fixed; */
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

.social-icon{
  margin: 50px 20px;
  width:110px;
  height: 110px;
}
